Disini akan mencari machine learning dengan hyperparameter untuk menentukan klasifikasi yang terbaik

sumber data didapatkan dari https://www.kaggle.com/justinas/nba-players-data

In [1]:
import pandas as pd
import numpy as np

In [2]:
NBA = pd.read_csv("/content/all_seasons.csv")

In [3]:
NBA.head()

   Unnamed: 0        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0           0      Dennis Rodman               CHI  ...   0.479    0.113  1996-97
1           1  Dwayne Schintzius               LAC  ...   0.430    0.048  1996-97
2           2       Earl Cureton               TOR  ...   0.376    0.148  1996-97
3           3        Ed O'Bannon               DAL  ...   0.399    0.077  1996-97
4           4        Ed Pinckney               MIA  ...   0.611    0.040  1996-97

[5 rows x 22 columns]

In [4]:
NBA.isnull()

       Unnamed: 0  player_name  team_abbreviation  ...  ts_pct  ast_pct  season
0           False        False              False  ...   False    False   False
1           False        False              False  ...   False    False   False
2           False        False              False  ...   False    False   False
3           False        False              False  ...   False    False   False
4           False        False              False  ...   False    False   False
...           ...          ...                ...  ...     ...      ...     ...
11140       False        False              False  ...   False    False   False
11141       False        False              False  ...   False    False   False
11142       False        False              False  ...   False    False   False
11143       False        False              False  ...   False    False   False
11144       False        False              False  ...   False    False   False

[11145 rows x 22 columns]

In [5]:
NBA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11145 entries, 0 to 11144
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         11145 non-null  int64
 1   player_name        11145 non-null  object
 2   team_abbreviation  11145 non-null  object
 3   age                11145 non-null  float64
 4   player_height      11145 non-null  float64
 5   player_weight      11145 non-null  float64
 6   college            11145 non-null  object
 7   country            11145 non-null  object
 8   draft_year         11145 non-null  object
 9   draft_round        11145 non-null  object
 10  draft_number       11145 non-null  object
 11  gp                 11145 non-null  int64
 12  pts                11145 non-null  float64
 13  reb                11145 non-null  float64
 14  ast                11145 non-null  float64
 15  net_rating         11145 non-null  float64
 16  oreb_pct           11145 non-null  float64
 17  dreb_pct           11145 non-null  float64
 18  usg_pct            11145 non-null  float64
 19  ts_pct             11145 non-null  float64
 20  ast_pct            11145 non-null  float64
 21  season             11145 non-null  object
dtypes: float64(12), int64(2), object(8)
memory usage: 1.9+ MB

Ambil data dengan syarat:
1. Umur >= 25
2. Tinggi badan >=200
3. Berat badan >= 90
4. Point >= 10
5. Gp >=50

In [6]:
#ambil colom sesuai syarat
df = NBA[["age","player_height","player_weight","pts","gp"]]

In [7]:
df.head()

    age  player_height  player_weight  pts  gp
0  36.0         198.12      99.790240  5.7  55
1  28.0         215.90     117.933920  2.3  15
2  39.0         205.74      95.254320  0.8   9
3  24.0         203.20     100.697424  3.7  64
4  34.0         205.74     108.862080  2.4  27

In [8]:
#membuat dataset sesuai dengan syarat diatas
def dataset(x):
  if x['age']>=25 and x['player_height']>=200 and x['player_weight']>=90 and x['pts']>=10 and x['gp']>=50:
    return 1
  else:
    return 0

df['keterangan']=df.apply(dataset,axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
df.head(30)

     age  player_height  player_weight   pts  gp  keterangan
0   36.0         198.12      99.790240   5.7  55           0
1   28.0         215.90     117.933920   2.3  15           0
2   39.0         205.74      95.254320   0.8   9           0
3   24.0         203.20     100.697424   3.7  64           0
4   34.0         205.74     108.862080   2.4  27           0
5   38.0         200.66      97.522280   8.2  52           0
6   25.0         198.12      86.182480  17.2  80           0
7   28.0         213.36     113.398000  14.9  77           1
8   29.0         193.04      86.182480   5.7  71           0
9   28.0         182.88      72.574720   6.9  82           0
10  27.0         182.88      77.110640   2.4   9           0
11  27.0         213.36     122.469840   0.0   1           0
12  28.0         195.58      87.996848   5.0  13           0
13  34.0         190.50      80.285784   1.3   3           0
14  31.0         210.82     120.201880   1.7  20           0
15  27.0         210.82     106.594120   2.6  28           0
16  25.0         213.36     122.469840   4.4  78           0
17  29.0         185.42      86.182480   3.8  12           0
18  26.0         200.66      97.522280   6.0  65           0
19  24.0         190.50      90.718400   3.0  67           0
20  24.0         203.20      99.790240  15.0  72           0
21  21.0         210.82     120.201880   5.1  72           0
22  23.0         190.50      95.254320  10.6  28           0
23  29.0         210.82     111.130040   7.1  82           0
24  32.0         200.66      97.522280   6.4  62           0
25  29.0         213.36     108.862080   2.6  46           0
26  30.0         198.12      99.790240   7.8  68           0
27  27.0         190.50      86.182480   3.6  61           0
28  27.0         190.50      92.986360   1.0   2           0
29  28.0         203.20     106.594120  12.5  66           1

In [10]:
df[df['keterangan']==1].head(100)

      age  player_height  player_weight   pts  gp  keterangan
7    28.0         213.36     113.398000  14.9  77           1
29   28.0         203.20     106.594120  12.5  66           1
34   30.0         208.28     117.933920  18.1  57           1
36   34.0         208.28     106.594120  16.8  61           1
42   37.0         203.20     104.326160  18.2  63           1
..    ...            ...            ...   ...  ..         ...
707  30.0         205.74     108.862080  12.7  58           1
712  29.0         203.20     103.872568  11.0  81           1
715  32.0         208.28     106.140528  13.5  70           1
721  32.0         215.90     113.398000  21.6  73           1
736  33.0         220.98     132.448864  16.0  73           1

[100 rows x 6 columns]

Standardscaler digunakan untuk menghilangkan mean dan menskalakan ke variasi. biasanya standardscaler digunakan untuk membagi data menjadi train dan test.

rujukan:
1. https://prasetyadi.name/2019/data-preprocessing-menggunakan-modul-python/
2. https://qastack.id/datascience/38395standardscaler-before-and-after-splitting-data

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc = StandardScaler()
val= sc.fit_transform(df)

In [13]:
#membagi dataset ke dalam training set dan test set (untuk kasus ini diambil 30% untuk test)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, df['keterangan'], test_size= .30)
len(x_train)

7801

In [14]:
#load machine learning
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC,LinearSVC
from sklearn.naive_bayes import GaussianNB

In [15]:
sgd = linear_model.SGDClassifier(max_iter=5, tol=None)
sgd.fit(x_train, y_train)
y_pred = sgd.predict(x_test)

sgd.score(x_train, y_train)

acc_sgd = round(sgd.score(x_train, y_train) * 100, 2)

In [16]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(x_train,y_train)
y_pred=random_forest.predict(x_test)

random_forest.score(x_train,y_train)
acc_random_forest=round(random_forest.score(x_train,y_train)*100,2)

In [17]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

y_pred = logreg.predict(x_test)

acc_log = round(logreg.score(x_train, y_train) * 100, 2)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [18]:
KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(x_train,y_train)
y_pred = KNN.predict(x_test)
acc_KNN = round(KNN.score(x_train,y_train)*100,2)

In [19]:
perceptron = Perceptron()
perceptron.fit(x_train, y_train)

y_pred = perceptron.predict(x_test)

acc_perceptron = round(perceptron.score(x_train, y_train) * 100, 2)

In [20]:
linear_svc =LinearSVC()
linear_svc.fit(x_train,y_train)

y_pred = linear_svc.predict(x_test)

acc_linear_svc = round(linear_svc.score(x_train,y_train)*100,2)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [21]:
gaussian = GaussianNB() 
gaussian.fit(x_train, y_train)  
y_pred = gaussian.predict(x_test)  
acc_gaussian = round(gaussian.score(x_train, y_train) * 100, 2)

In [22]:
decision_tree = DecisionTreeClassifier() 
decision_tree.fit(x_train, y_train)  
Y_pred = decision_tree.predict(x_test)  
acc_decision_tree = round(decision_tree.score(x_train, y_train) * 100, 2)

In [23]:
results = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 
              'Decision Tree'],
    'Score': [acc_linear_svc, acc_KNN, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_decision_tree]})
result_df = results.sort_values(by='Score', ascending=False)
result_df = result_df.set_index('Score')
result_df.head(9)

                             Model
Score
100.00     Support Vector Machines
100.00         Logistic Regression
100.00               Random Forest
100.00                 Naive Bayes
100.00               Decision Tree
99.85                   Perceptron
98.87                          KNN
89.87   Stochastic Gradient Decent

In [24]:
random_forest = RandomForestClassifier(criterion = "gini", 
                                       min_samples_leaf = 1, 
                                       min_samples_split = 10,   
                                       n_estimators=100, 
                                       max_features='auto', 
                                       oob_score=True, 
                                       random_state=1, 
                                       n_jobs=-1)

random_forest.fit(x_train, y_train)
Y_prediction = random_forest.predict(x_test)

random_forest.score(x_train, y_train)

print("oob score:", round(random_forest.oob_score_, 4)*100, "%")

oob score: 100.0 %